:root{
  --main : #FEC72F;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
.App{
  max-width: 1440px;
  margin: 0 auto;
  /* padding:0 20px; */
  padding:0;
  overflow: hidden;
}

.nav-btn{
  background-color: #50331C;
  color: white;
  padding: 8px 25px;
  border-radius: 40px 0 40px 40px;
  font-weight: 600;
}